<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Web App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <h1 class="title1">One Word</h1>
            <h1 class="title2"><a href="/add_word.html"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FEE34A/add--v1.png" alt="add--v1"/></a></h2> 
        </div>
    
        <div class="search_area">
            <form id="searchForm" class="search-bar">
                <input type="text" id="searchInput" placeholder="Enter word to search...">
                <button type="submit"><img src="static\images\search.png"></button>
            </form>
        </div>
        <div class="content">
            <ul id="wordList">
                {% for word in words %}
                <li><a href="/word/{{ word.word }}">{{ word.word }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

   
    <script src="static/script.js"></script>
</body>

</html>